@{
    var themes = ViewBag.Themes as List<string>;
}

<form method="post" onsubmit="return DisplayProgressMessage(this, 'Sending...');">
    <div style="display: flex; align-items: center;">
        <h1 style="margin-right: 10px;">Chatbot</h1>
        <select name="theme">
            @if (themes != null)
            {
                @foreach (var theme in themes)
                {
                    <option value="@theme" selected="@((string)ViewBag.Theme == theme ? "selected" : null)">@theme</option>
                }
            }
        </select>
    </div>
    <input type="text" name="message" required style="width: 450px;" oninput="toggleButtonDisabled()" />
    <button type="submit" id="submitButton" class="btn btn-primary" disabled>
        <i class="fas fa-paper-plane"></i> Send
    </button>
</form>

<p class="respuesta">
    <div class="spinner-border d-none spinner-respuesta" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    @Html.Raw(Model)
</p>

<script>
    function toggleButtonDisabled() {
        var input = document.getElementsByName("message")[0];
        var button = document.getElementById("submitButton");
        button.disabled = input.value.trim() === "";
    }

    function DisplayProgressMessage(form, msg) {
        var button = form.querySelector('button[type="submit"]');
        button.disabled = true;
        $(".spinner-border").removeClass("d-none");
        return true;
    }
</script>
