html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.spinner-respuesta {
    position: absolute;
    z-index: 1;
}

.respuesta {
    position: relative;
    z-index: 2;
}

form {
    min-width: 550px;
}

.social-icons a {
    /* existing styles */
    display: inline-block;
    position: relative;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #333;
    transition: all 0.3s;
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* new animation styles */
    animation: socialIconAnimation 1s infinite;
}

@keyframes socialIconAnimation {
    0% {
        transform: scale(1);
        background: #333;
    }

    50% {
        transform: scale(1.2);
        background: #258cfb;
    }

    100% {
        transform: scale(1);
        background: #333;
    }
}
